* {
    box-sizing: border-box;
    margin: 0;
}
body {
    padding: 5px;
}
.title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.flex {
    width: 100%;
    display: flex;
}
.flex-between {
    justify-content: space-between;
}
.flex-grow {
    flex: 1 0 0;
}
table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}
tr, td, th {
    border: 1px solid black;
}
.w-60 {
    width: 60%;
    padding-right: 10%;
}
.rekening {
    border: 1px solid black;
    padding: 1px;
    margin-top: 5px;
}
.ttd {
    border-bottom: 1px solid black;
    height: 100%;
    width: 50%;
}
